$colorWhite: rgb(51, 58, 58);
$colorBlack: rgb(6, 6, 6);
$colorPrimary: hsl(0, 0%, 2%);
$colorPrimaryDark: hsl(0, 4%, 11%);
$colorPrimaryDarker: hsl(202, 38%, 14%);
$colorSecondary: hsl(347, 88%, 34%);
$colorBackground: #846565;
$colorPaper: transparent;
$colorGrey: rgb(96, 92, 92);

// Red gradient generator cross-browser.
// Colors for gradients
$redStart: #bed000;
$redEnd: hsl(55, 67%, 53%);

@mixin red-gradient {
  // Old browsers
  background: $redStart;
  // FF3.6-15
  background: -moz-linear-gradient(top, $redStart 0%, $redEnd 100%);
  // Chrome10-25,Safari5.1-6
  background: -webkit-linear-gradient(top, $redStart 0%, $redEnd 100%);
  // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  background: linear-gradient(to bottom, $redStart 0%, $redEnd 100%);
  // IE6-9
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#a9122d",
    endColorstr="#60061b",
    GradientType=0
  );
}

:export {
  colorWhite: $colorWhite;
  colorBlack: $colorBlack;
  colorPrimary: $colorPrimary;
  colorPrimaryDark: $colorPrimaryDark;
  colorSecondary: $colorSecondary;
  colorBackground: $colorBackground;
  colorPaper: $colorPaper;
  colorGrey: $colorGrey;
}
